.container {

  height: $max;

  position: $rel;

}

div[class$="-title"] {

    text-align: center;

    > h1 {

      color: $color-base;

      letter-spacing: .1em;

      margin-bottom: 0;

      text-shadow:
      -1px -2px 5px rgba(0,0,0, -0.9),
      1px 3px 5px rgba(0,0,0, .6);

      font-size: 35px;

    }

}

.subtitle{

  color: $color-secondary;

  margin-top: .5em;

}

div[class$="-body"] {

    height: $max;

    margin: 2em auto;

    overflow: hidden;

    text-align: center;
}

.skills-title {

  margin-bottom: 5em;

}
