/*#contact-card {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.card {
  @include size(400px, $max);

  @include transitions(transform, 1s, ease-in-out);

  transform-style: preserve-3d;

  .front, .back{

    @include size($max, $max);

    position: $abs;

  }
}

.front{
  @include bg-size(cover);
  @include transitions(all, 600ms, ease-in);

  background: url(assets/bg2.png);

  color: $white;
}

.card-title{

  position: $rel;

  margin-left: 2em;

  h1{

    display: $ib;

    font-family: $font-primary;

    margin-bottom: 0;
  }

  h4{

    font-family: $font-primary;

    margin-top: .5em;

  }

  i{
    cursor: pointer;

    float: right;

    margin: 1em 1em 0 0;
  }

}

.card-body{
  @include fonts($font-secondary, null, null, 2em);

  margin: 3em 2em;

  position: $rel;

  ul {

    font-family: $font-primary;

    list-style: none;

    padding: 0;

    li {

      color: $color-secondary;

      display: $in;

      margin-right: 1.2em;

      font-size: 12px;

      a{
        text-decoration: none;

        color: $color-secondary;

        &:hover {

          color: $white;

        }

      }

    }

  }

}

.encyclopedia{

  bottom: 0;

  position: $abs;

  margin-left: 2em;

  margin-bottom: 1.9em;

  img, p {
      display: $ib;
  }

  p {

    @include fonts($font-primary, 14px, null, null);

    margin: 0 auto auto .5em;

    vertical-align: top;

    span {

      color: $color-secondary;

    }

  }

}

.card-footer {

  .social{
    @include sides(null, 0, 0, null);

    position: $abs;

    margin-right: 2em;

    margin-bottom: 1.5em;

    ul {

      list-style: none;

      margin: 0 0 .4em 0;

      li {

        display: $in;

        margin: auto .5em;

      }

    }

  }

}

.front, .back{

  backface-visibility: hidden;

}

.back{

  @include bg-size(cover);
  @include transforms( rotate(180deg) );

  background: url(assets/talking_soccer.jpg) no-repeat;

  ul {

    padding: 0;

    list-style: none;

    li {

      font-size: 18px;

      margin-top: 15px;

    }

  }

}

.card-input:checked + .card {

  @include transforms(rotateX(180deg));

}

.front:hover{

  @include transforms(rotateX(20deg));

  box-shadow: 0 20px 20px lighten($black, 40%);
}

#contact-card:hover :checked + .card {

  @include transforms(rotateX(160deg));

  box-shadow: 0 20px 20px lighten($black, 40%);
}
*/

#contact-card {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.card {
  @include size(400px, $max);

  @include transitions(transform, 1s, ease-in-out);

  transform-style: preserve-3d;

  .front, .back{

    @include size($max, $max);

    position: $abs;

  }
}

.front{
  @include bg-size(cover);
  @include transitions(all, 600ms, ease-in);

  background: url(assets/bg2.png);

  color: $white;
}

.card-title{

  position: $rel;

  margin-left: 2em;

  h1{

    display: $ib;

    font-family: $font-primary;

    margin-bottom: 0;
  }

  h4{

    font-family: $font-primary;

    margin-top: .5em;

  }

  i{
    cursor: pointer;

    float: right;

    margin: 1em 1em 0 0;
  }

}

.card-body{
  @include fonts($font-secondary, null, null, 2em);

  margin: 3em 2em;

  position: $rel;

  ul {

    font-family: $font-primary;

    list-style: none;

    padding: 0;

    li {

      color: $color-secondary;

      display: $in;

      margin-right: 1.2em;

      font-size: 16px;

      a{
        text-decoration: none;

        color: $color-secondary;

        &:hover {

          color: $white;

        }

      }

    }

  }

}

.encyclopedia{

  bottom: 0;

  position: $abs;

  margin-left: 2em;

  margin-bottom: 1.9em;

  img, p {
      display: $ib;
  }

  p {

    @include fonts($font-primary, 14px, null, null);

    margin: 0 auto auto .5em;

    vertical-align: top;

    span {

      color: $color-secondary;

    }

  }

}

.card-footer {

  .social{
    @include sides(null, 0, 0, null);

    position: $abs;

    margin-right: 2em;

    margin-bottom: 1.5em;

    ul {

      list-style: none;

      margin: 0 0 .4em 0;

      li {

        display: $in;

        margin: auto .5em;

      }

    }

  }

}

.front, .back{
  backface-visibility: hidden;
}

.back{

  @include bg-size(cover);
  @include transforms( rotateX(180deg) );

  background: url(assets/talking_soccer.jpg) no-repeat;

  ul {

    padding: 0;

    list-style: none;

    li {

      font-size: 18px;

      margin-top: 15px;

    }

  }

}

.card-input:checked + .card {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.front:hover{
  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -o-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

#contact-card:hover :checked + .card {
  -webkit-transform: rotateX(160deg);
  -moz-transform: rotateX(160deg);
  -o-transform: rotateX(160deg);
  transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}
