.table-skills{

	margin: 0 auto;

  width: 50%;

}

.scale{

  font-weight: bold;

}

.scale-dev{
  @include size(200px, 150px);

  float: left;

  ul{

    height: 100%;

    margin: 0;

		padding-left: 40px;


    li {

      font-family: $font-secondary;

      &:not(:first-child){

        margin: 25% auto;

      }

    }

  }

}

.skills-dev{

  background: repeating-linear-gradient(
    to bottom,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 5%
  );

  background-size: 100% 500px;

  font-family: $font-primary;

  height: 200px;

  ul{
    display: table;

    height: 100%;

    list-style: none;

    margin:0 auto;

    padding: 0;

    position: $rel;

    table-layout: $fx;

    li{
      display: table-cell;

      height: 100%;

      position: $rel;

      vertical-align: bottom;

      &:first-child .javascript::before{
        content: "I love Javascript!";
      }

      &:nth-child(2n) .html-css::before{
        content: "Training to master!";
      }

      &:nth-child(3n) .jquery::before{
        content: "Is Js more easy?";
      }

      &:nth-child(4n) .php::before{
        content: "First programming language";
      }

      &:nth-child(5n) .java::before{
        content: "What I do on my job";
      }

      &:nth-child(6n) .ruby::before{
        content: "Newbie with a lot of expectations";
      }

      &:first-child .written::before{
        content: "Always try to be clear";
      }

      &:nth-child(2n) .solving::before{
        content: "Finding the best solution";
      }

      &:nth-child(3n) .management::before{
        content: "Learning to manage teams";
      }

      &:nth-child(4n) .research::before{
        content: "There's always the solution somewhere";
      }

      &:nth-child(5n) .speaking::before{
        content: "Handling nervous but ideas do more";
      }

      &:hover {

        span::after{
            content: "";

            display: $bck;

            position: $abs;

            right: 40px;

            border-width: 5px;

            border-style: solid;

            border-color: $black transparent transparent transparent;
        }

				span::before{
				  display: block
				}

      }

      >span{

        display: $bck;

        margin-right: 20px;

        width: 50px;

      }

      span::before {

        @include sides(0, -25px, null, null);

        background-color: $color-text;

        color: $white;

        display: none;

        text-align: center;

        padding: 5px;

        position: $abs;

        width: 150px;

      }

      &:first-child {

        span {

          margin-left: 20px;

        }

      }

    }

  }

  .red-bar{
    background: $color-secondary;
  }

  .red-bar-rnd{
    border: 1px dashed $color-secondary;
  }

  .blk-bar{
    background: $color-text;
  }

  .blk-bar-rnd{
    border:1px dashed $color-text;
  }

}

.javascript, .php, .java{
  height: 50%;
}

.html-css, .written, .solving, .research{
  height: 75%;
}

.jquery, .ruby, .management{
  height: 25%;
}

.speaking{
    height: 50%;
}

.table-labels{
  margin-left: 175px;
  text-align: center;

  p{
    display: $ib;

    font-family: $font-secondary;

    margin-right: 20px;

    transform: rotate(-90.0deg);

    width: 45px;
  }

}

.skill-labels {

    margin-top: 2em;

}
