.profile{
  border: 2px solid $color-secondary;

  border-radius: 3px;

  margin:1em auto;

  width: 300px;
}

.profile-head{

  @include fonts($font-secondary, null, null, null, center);
  @include outsiders(0, 15px);

  color: $color-secondary;

  span {

    border-bottom: 2px solid $color-text;

    color: $color-text;

    font-size: 40px;

  }

}

.profile-img-main img{

    border-radius: 50%;

    border: 5px double $black;

    box-shadow: 3px 2px 5px $color-text;

    height: 200px;
}

.profile-body{

    @include fonts($font-secondary, 17px, null);

    color: $color-text;

    text-shadow: 5px 2px 5px lighten($color-text, 20%);

    p {

      margin: 1em auto;

      padding-left: 5px;

      padding-right: 5px;

    }
}
