.c-portfolio{

	&__img{
		@include size(50%, 300px);

		img{
			@extend %u-full-wh;
		}
	}

	&__description{
		background: $main-color;
		flex-grow: 1;
		font-family: $text-font;
		padding: 14px 7px 0 7px;
		text-align: justify;
		width: 50%;
	}

	&__details{
		background: $bg-color;
		border-top: 2px solid $bg-color;
		text-align: center;
		width: 100%;
	}

	&__title{
		color: $main-color;
		font-family: $main-font;
		margin: 7px auto;
	}

	&__link{
		color: $detail-color;

		&:hover{
			color: $main-color;
		}
	}

	&__wrapper{
		border: 2px solid $bg-color;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		top: 5px;
		right: 5px;
	}
}


.c-show-project{
	cursor: pointer;
}