.product-row{

  @include size(auto, 100%);

  clear: both;

  margin: 15px auto;

}

.product-wrap{

  @include size(auto, 45%);

  border: 1px solid $color-secondary;

  border-radius: 5px;

  box-shadow: 0px 3px 5px $black;

  float: left;

  font-family: $font-primary;

  margin: auto 5px;

}

.product-add{

  text-align: center;

}

.label-category{
  @include fonts($font-secondary, 15px, null, null);

  background: $color-secondary;

  border-bottom-left-radius:  5px;

  border-bottom-right-radius:  5px;

  color: $white;

  display: $bck;

  height: $max;

  margin: 0 auto;

  text-decoration: none;
}

.product-img{
  @include size(215px, 95%);

  margin: 0 auto;

  img{
    @include size($max, $max);

    border-left:1px solid $color-text;

    border-right:1px solid $color-text;

    border-bottom:1px solid $color-text;

    border-bottom-left-radius: 3px;

    border-bottom-right-radius: 3px;

  }

}

.product-info h5{

  margin: 1em 0 0 1em;

}

.product-info p{
  @include fonts($font-secondary, 12px, null, null, center);

  margin-bottom: 0;

  clear: right;

  &:first-of-type {

    font-size: 21px;

    font-weight: bolder;

    margin: 0;

  }

  &.price {

    font-style: italic;

  }

}

.product-add{

  margin: 10px auto 0;

  p{

    height: 30px;

    line-height: 30px;

    margin-bottom: 0;

    a{
        text-align: center;
    }

  }

  button {

    display: $ib;

  }

  .product-qty {

    font-size: 15px;

    width: 50px;

  }

}

.button-add{

  background: transparent;

  border: 2px dashed $color-secondary;

  border-radius: 3px;

  cursor: pointer;

  font-family: $font-secondary;

  margin: auto 5px;

  padding: 5px;

  &:hover {

    background: darken($color-secondary, 20%);

  }

}
