.pinBar {

  @include size(auto, 45px);
  @include fonts($font-secondary, 16px, null, 32px, center);

  border: 1px dashed $color-secondary;

  border-left: none;

  border-radius: 2px;

  cursor: pointer;

  position: absolute;

  top: 100px;

  ul {

    li {

      margin: 0 auto;

      width: 3px;

      border-bottom: 2px dashed $color-secondary;

      &:last-child {

        border-bottom: none;

      }

      p {

        font-size: 11px;

        line-height: 12px;

        word-wrap: break-word;

      }

    }

  }

}

.pinBar2 {

  @include size(30px, 100%);
  @include fonts($font-secondary, 16px, null, 32px, center);

  background: $color-secondary;

  cursor: pointer;

  position: absolute;

  ul {

    li {

      color: $white;

      display: $ib;

      margin: 3px 7px;

      padding-right: 14px;

      border-right: 2px dashed $black;

      &:last-child {

        border-right: none;

      }

    }

  }

}