@mixin sides($t, $r, $b, $l) {

  top: $t;

  right: $r;

  bottom: $b;

  left: $l;

}

@mixin outsiders($m:0, $p:0) {

  margin: #{$m};

  padding:#{$p};

}

@mixin margins($t, $r, $b, $l) {

  margin-top: $t;

  margin-right: $r;

  margin-bottom: $b;

  margin-left: $l;

}

@mixin paddings($t, $r, $b, $l) {

  padding-top: $t;

  padding-right: $r;

  padding-bottom: $b;

  padding-left: $l;

}

@mixin size($h, $w) {

  height: $h;

  width: $w;

}

@mixin fonts($family, $size, $weight, $ln:"auto", $al:"left") {

  font-family: $family;

  font-size: $size;

  font-weight: $weight;

  line-height: #{$ln};

  text-align: #{$al};

}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin user-select ($val){
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin transitions($type, $time, $effect) {

  -webkit-transition: $type $time $effect;
  -moz-transition: $type $time $effect;
  transition: $type $time $effect;

}

@mixin transforms($type) {

  -webkit-transform: $type;
  -moz-transform: $type;
  -o-transform: $type;
  transform: $type;

}

@mixin bg-size($val) {

  -webkit-background-size: $val;
  -moz-background-size: $val;
  -o-background-size: $val;
  background-size: $val;

}
