/* COLORS COLORS COLORS COLORS COLORS */
$color-base: #FBFBFB;
$color-secondary: #D72C16;
$color-text: #333333;

$black: #000000;
$white: #FFFFFF;

/* FONTS FONTS FONTS FONTS FONTS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Open Sans Condensed', sans-serif;

/* VARIABLES VARIABLES VARIABLES VARIABLES VARIABLES */
$max: 100%;

$abs: absolute;
$fx: fixed;
$rel: relative;

$bck: block;
$ib: inline-block;
$in: inline;
$nn: none;

$min-end:360px;
