.about-body {

  h1 {
      font-size: 45px;
  }

  p{

    @include fonts($font-secondary, 32px, null, null, null);

  }

}

.learn{
	color: #f66eae;
}

.modern{
	color: #936be5;
}

.info-contact{

	border-bottom: 3px dotted $color-secondary;

}

.info-contact:hover{

  color: $color-secondary;

	border-bottom: 3px dotted $color-text;
}
