footer{

  @include sides(null, 0, 0, 0);

  background: $color-text;

  text-align: center;

  position: $abs;

  width: $max;

}

footer p{
  color: $color-secondary;

  font-family: $font-primary;
}
