#fix-bar {

  @include size( 60px, $max );

  @include sides( 0, null, null, 0 );

  background: $color-secondary;

  position: $fx;

  z-index: 9;

}

.logo {

  @include sides( null, null, null, 0 );

  @include size( null, 150px );

  position: $abs;

  transform: translate3d(-50%, 0, 0);

  transition: transform 0.5s ease;

  .name {

    @include fonts( $font-secondary, 20px, null );

    @include margins( 1em, 0, 1em, 1em );

    color: $color-base;

    display: $ib;

    transform: rotate(270deg);

  }

  .lname {

    @include fonts( $font-primary, 30px, null );

    color: $color-text;

  }

}

.push {

  @include size( $max, null );

  @include sides( null, null, null, 0 );

  position: $rel;

  background: $color-secondary;

  transition: transform 0.5s ease;

}

.hamburguer {

  @include size( 60px, 72px );

  cursor: pointer;

  display: $ib;

  float: left;

  position: $rel;

  span {

    @include size( 4px, 24px );

    background: $white;

    display: $bck;

    opacity: 1;

    position: $abs;

    transform: rotate(0deg);

    left: 24px;

    transition: 0.3s ease-in-out;

    &:nth-child(1) {

      @include sides( 20px, null, null, null );

    }

    &:nth-child(2),
    &:nth-child(3) {

      @include sides( 28px, null, null, null );

    }

    &:nth-child(4) {

      @include sides( 36px, null, null, null );

    }

  }

}

.search-box-mobile {

  @include margins( auto, 0, 0, 6.8em );

  float: left;

  position: $rel;

  input {

    @include transitions(all, 200ms, ease-in-out);

    background-color: transparent;

    border: none;

    border-bottom: 1px solid $color-text;

    color: $white;

    display: $ib;

    font-size: 14px;

    margin: 5px 0;

    padding: .675em 0;

    width: 150px;

    &::-webkit-input-placeholder {
      color: #FBFBFB;
    }

    &::-moz-placeholder {
      color: #FBFBFB;
    }

    &::-ms-input-placeholder {
      color: #FBFBFB;
    }

    @include placeholder{

      color: $white;

    }

  }

}

#nav {

  @include size( $max, $max );

  background: $color-base;

  border-right: 1px solid $color-secondary;

  display: none;

  overflow-y: scroll;

  position: $abs;

  z-index: 1;

  a {

    @include paddings( 14px, 24px, 14px, 24px );

    @include fonts( $font-secondary, 20px, 700, null );

    color: $color-text;

    border-bottom: 2px solid $color-secondary;

    display: $bck;

    text-align: center;

    &:hover {

      background: $color-base;

    }

  }

  &:target {

    transform: translate3d(0,0,0);

  }

}

.site-menu {

  margin-top: 4em;

  label {

    display: $ib;

  }

}

.copy {

  @include sides( null, null, 0, null );

  @include fonts( null, 12px, null, 1.4 );

  @include paddings( 16px, 24px, 16px, 24px );

  position: $abs;

}

#show-menu {

  position: $abs;

  opacity: 0;

  &:checked ~ #fix-bar .push {

    transform: translate3d(145px, 0, 0);

  }

  &:checked ~#fix-bar .hamburguer span:nth-child(1),
  &:checked ~#fix-bar .hamburguer span:nth-child(4) {

    @include sides( 28px, 0, 0, 50% );

    @include size( null, 0 );

  }

  &:checked ~#fix-bar .hamburguer span:nth-child(2) {

    transform: rotate(45deg);

  }

  &:checked ~#fix-bar .hamburguer span:nth-child(3) {

    transform: rotate(-45deg);

  }

  &:checked ~ #nav,
  &:checked ~.logo {

    display: inherit;

  }

}

nav {

  @include fonts($font-primary, null, null);

  @include size( 60px, $max );

  background: $color-base;

  border-bottom: 1px dashed $color-secondary;

  clear: both;

  position: $fx;

  top: 0;

  z-index: 1;

  ul {
    @media (max-width: $min-end) {

      display: none;

    }

    @include margins( 1em, 0, 1em, 0 );

    display: $ib;

    float: right;

    li {

      @include  margins( auto, 2.5em, auto, 2.5em );

      display: $in;

      a {

        @include fonts( $font-secondary, 28px, null );

        color: $color-text;

        span {

          @include fonts( null, 20px, null );

          color: $color-text;

          transition: opacity 1s, visibility 1s ease-in;

        }

        &:hover {

          @include fonts( null, null, bolder );

          span {
            color: $color-secondary;
          }

        }

      }

    }

  }

}

.name{
  @include transforms( rotate(270deg) );

	color: $color-secondary;

  display: $ib;

  font-size: 30px;

  margin:0 0 1em 1em;
}

.lname{
  color: #333333;
  font-size: 40px;
}

.input-search {

  @include fonts(null, 1.15em, null);

  @include margins(5px, 0, 5px, 0);

  @include paddings(1em, 0, 0, 0);

  @include size(null, 300px);

  background-color: transparent;

  border: 0;

  outline: 0;

  border-bottom: 1px solid $color-text;

  display: $ib;

  transition: 200ms ease-in-out;

  &:focus ~.modal-search{

    opacity: 1;

  }

}

.search-box {

  @media (max-width: $min-end) {

    display: none;

  }

  @include margins( auto, 1.25em, 0, 1.25em );

  float: right;

  position: $rel;

  label {

    @include sides(1.4em, null, null, 0);

    @include user-select(none);

    font-size: 1.15em;

    position: $abs;

    transition: 200ms ease-in-out;

    z-index: -1;

    &:after {

      @include fonts("FontAwesome", 18px, normal );

      content: "\f002";

      font-style: normal;

      text-decoration: inherit;

      color: $color-text;

      padding-right: 0.5em;

      position: absolute;

      left: 0;

    }



  }

  input {

    &:focus {

      border-bottom: 2px solid $color-secondary;

      outline: none;

    }

    &:disabled {

      border-bottom: 2px dotted $color-base;

    }

    &:disabled + label {

      color: $color-text;

    }

    &:focus + label {

      font-size: 1em;

      top: -.1em;

    }

    &:focus + label::after {

      @include fonts($font-secondary, null, normal);

      color: $color-secondary;

      content: "Search";

      text-decoration: inherit;

    }

  }

}

.modal-search {

  @include transitions( opacity, 300ms, ease-in);

  display: $ib;

  opacity: 0;

}
