// Fonts
//$main-font : 'DroidSans';
//$text-font : 'Cabin';

//$text-font: 'Esteban', serif;
//$title-font: 'Bitter', serif;
//$main-font: 'Montserrat', sans-serif;

$text-font: 'Tenor Sans', sans-serif;
$title-font: 'Bitter', serif;
$main-font: 'Archivo Black', sans-serif;

// Colors
$main-color: #66A5AD;
$secondary-color : #555555;
$detail-color : #07575b;
$bg-color: #2A3132;

// Breakpoints
$mobile: 479px;
$tablet: 768px;
$pc: 1024px;


/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
